.employee-list-container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #4e444b;
  margin-bottom: 30px;
  font-size: 2rem;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

mat-form-field {
  width: 220px; 
  margin-bottom: 15px;
}

mat-form-field .mat-label {
  font-weight: bold;
  color: #4e4e4e;
  font-size: 14px;
}

button.mat-raised-button {
  background-color: #6495ed;
  color: #4e444b;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 200px; 
  text-transform: capitalize;
}

button.mat-raised-button:hover {
  background-color: #4169e1; 
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 12px;
}

th, td {
  padding: 15px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #4e4e4e;
  color: #4e444b;
  font-size: 16px;
}

td {
  background-color: #f1f1f1;
  color: #4e444b;
}

.mat-elevation-z8 {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.mat-icon {
  color:#007bff;
  transition: color 0.3s ease;
  padding: 8px;
}

.mat-icon-button:hover {
  color: #6495ed;
}

button.mat-icon-button {
  padding: 8px;
}

.mat-header-row, .mat-row {
  border-bottom: 1px solid #ddd;
}

.mat-header-row th, .mat-row td {
  font-weight: 500;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
  gap: 100px;
}

button.mat-icon-button {
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s ease;

}

button.mat-icon-button:hover {
  background-color: #e0e0e0;
}

