.update-employee-card {
  padding: 15px;  
  max-width: 611px;
  margin: 15px auto;  
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

h2, .mat-card-title {
  text-align: center;
  color: #eddde9;
  font-size: 1.6rem; 
  margin-bottom: 15px;
}

mat-form-field {
  width: 100%;
  max-width: 480px; 
  margin-bottom: 12px;  
}

mat-label {
  font-size: 13px;  
  color: #ffffff;
}

mat-error {
  font-size: 11px;  
  color: red;
}

button.mat-raised-button {
  background-color: #6495ed;
  color: #e7e2e2;
  padding: 8px 18px;  
  border-radius: 5px;
  font-size: 15px;  
  transition: background-color 0.3s ease;
  width: 180px; 
  text-transform: capitalize;
}

button.mat-raised-button:hover {
  background-color: #4169e1;
}

input[type="file"] {
  margin-top: 8px;  
}

div {
  margin-top: 8px;
}

.mat-form-field .mat-label {
  font-weight: bold;
}

.mat-select {
  width: 100%;
}

.mat-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card-actions {
  text-align: center;
  margin-top: 10px; 
}

mat-card-actions p {
  font-size: 13px;  
  color: #4e4e4e;
}

mat-card-actions a {
  color: #6495ed;
  text-decoration: none;
}

mat-card-actions a:hover {
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 12px;  
}
